body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

#menu {
  padding: 3px;
  padding-right: 1rem;
  color: black;
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid black;
  z-index: 1000;
}

#content-inside{
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
}

.btn1{
  border-radius: 20px;
  border: 1px solid;
  background-color: white;
  font-weight: 900;
  margin: 2px;
}

#content-txt{
  display: flex;
  flex: 4;
  flex-direction: column;
}

.btn2{
  border: 0px;
  background-color: #4CA;
  font-weight: 900;
}

#desc {
  display: flex;
  flex-direction: column;
  background-color: #4CA;
  padding: 2rem;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.product-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.product-card {
  border: 2px solid #ddd;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.plant-title{
  margin: 10px;
}

.btn3{
  border: 2px solid #ddd;
  border-radius: 8px;
}